*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
replay_pid*

.mtj.tmp/
.idea/
.gradle/
build/
gradle/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache
.gitattributes
gradlew
gradlew.bat

**/build/